<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.SysRoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.domain.SysRoleMenu">
        <!--@mbg.generated-->
        <!--@Table sys_role_menu-->
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
        <id column="menu_id" jdbcType="BIGINT" property="menuId"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        role_id, menu_id
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete
        from sys_role_menu
        where role_id = #{roleId,jdbcType=BIGINT}
          and menu_id = #{menuId,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.domain.SysRoleMenu">
        <!--@mbg.generated-->
        insert into sys_role_menu (role_id, menu_id)
        values (#{roleId,jdbcType=BIGINT}, #{menuId,jdbcType=BIGINT})
    </insert>
    <insert id="insertSelective" parameterType="com.domain.SysRoleMenu">
        <!--@mbg.generated-->
        insert into sys_role_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                role_id,
            </if>
            <if test="menuId != null">
                menu_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleId != null">
                #{roleId,jdbcType=BIGINT},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <select id="countRoleMenusByRoleId" resultType="java.lang.Long">
        select count(1)
        from sys_role_menu
        where role_id = #{roleId}
    </select>

    <delete id="deleteRoleMenusByRoleId">
        delete
        from sys_role_menu
        where role_id = #{roleId}
    </delete>

    <insert id="saveRoleMenus">
        insert into sys_role_menu (role_id, menu_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.roleId}, #{item.menuId})
        </foreach>
    </insert>

    <select id="getCurrentRoleHasMenuIdsByRoleId" resultType="Long">
        select t1.menu_id
        from sys_role_menu t1
                     inner join sys_menu t2 on t1.menu_id = t2.menu_id
        where role_id = #{roleId}
          and t1.menu_id not in (
                select distinct t2.parent_id
                from sys_role_menu t1
                             inner join sys_menu t2 on t1.menu_id = t2.menu_id
                where t1.role_id = #{roleId});
    </select>
</mapper>